.signin-page {
    background-color: #E0F4FF;
    height: 100vh;
    width: 100vw;
    padding-top: 80px;
    border-radius: 5px;
}

.signin-card {
    margin: 0 auto;
    background-color: white;
    align-items: center;
}

.signin-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin-form-button {
    width: 350px;
    margin: auto;
    background-color: rgb(17, 179, 238);
}

.signin-form-container {
    display: flex;
    justify-content: center;
    align-self: center;
}