@font-face {
  font-family: Quicksand;
  src: url(../../font/Quicksand/Quicksand-VariableFont_wght.ttf);
}

.body {
  background-color: #e0f4ff;
  height: 100%;
  width: 100vw;
  position: relative;
  font-family: Quicksand;
}

.main-container {
  display: flex;
  flex-direction: row;

  .menu-container {
    background-color: #e0f4ff;
    height: 400px;
    width: 230px;

    .wellcome-title {
      color: black;
      font-family: Quicksand;
      font-size: 30px;
      font-weight: 600;
    }
  }

  .info-container {
    display: flex;
    flex-direction: column;
    margin-left: 50px;

    .info-card {
      display: flex;
      margin-bottom: 30px;

      .info-left {
        margin-left: 100px;
        margin-top: 20px;
      }
      
      .info-right {
        position: absolute;
        left: 380px;
        bottom: 30px;

        .user-info {
          height: 220px;
          width: 450px;
          background-color: #D9D9D9;
        }
      }
    }

    .change-pass-card {
      display: flex;

      .input-passChange {
        width: 600px;
      }

      .subbmit-button-container {
        margin-left: 470px;

        .submit-button {
          height: 30px;
          width: 100px;
        }
      }
    }
  }

}
